body{
    font: normal 15pt Arial;
    
}

header{
    color: #ffffff;
    margin: auto;
    text-align: center;

}

section {
    background: #ffffff;
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.534);

}

div {
    padding: 10px;

}

footer{
    color: #ffffff;
    margin: auto;
    text-align: center;
    font-style: italic;
    padding-top: 2cm;
    font-size: small;

}